.app__projects {

    h1 {
        font-size: 16rem;
        color: var(--gray-color);

        justify-content: left;
        position: absolute;
    }

    .projects__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        padding: 2rem;
        margin: 3rem 3rem 3rem 10rem;
        height: 400px;
        width: 400px;

        border-radius: 15px;
        background: var(--gray-color);
        transition: all 0.3s ease-in-out;

        &:hover {
            backdrop-filter: blur(4px);
            transform: scale(1.1);
        }


        h2 {
            font-size: 2rem;
            text-align: center;
            color: var(--secondary-color)
        }

        p {
            font-size: 1.25rem;
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        button {
            position: relative;
            justify-self: end;

            color: var(--white-color);
            background: var(--gray-color);
            border: none;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            padding: 1rem 3rem;
            margin-top: 1rem;
            font-family: var(--font-base);
            font-size: 1rem;

            &:hover {
            }
        }
    }
}